<html>
    <%- include('./partials/head.ejs'); %>
    <body>
        
        <%- include('./partials/nav.ejs'); %>
        <div class="container">
            <h1>Blogs
            <a href="/add-blog" class="btn btn-primary float-end">Add New</a>

            </h1>
            
            <div class="row">
                <% if(blogs.length > 0){ %>
                <% blogs.forEach(blog => { %>
                    <div class="col-sm-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <a href="/blog/<%= blog.id %>"><h5 class="card-title"><%= blog.title %></h5></a>
                                <p class="card-text"><%= blog.snippet %></p>
                                <a href="/blog/<%= blog.id %>" class="btn btn-primary">View Details</a>
                                <a href="javascript:void(0)" class="btn btn-danger ms-2" confirm="Are you sure?" onclick="deleteFun('<%= blog.id %>')">Delete</a>
                            </div>
                        </div>
                    </div>
                <% }); %>
                <% }; %>
            </div>
        </div>


        <script>
            function deleteFun(id){
                fetch(`/blog/${id}`, {
                    method: 'DELETE',
                    headers: {}
                })
                .then((response) => response.json())
                .then((data) => window.location.href = data.redirect)
                .catch(err => console.log(err));
            }
        </script>
        
    </body>
</html>